@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .bg-grid-pattern {
    background-image:
      linear-gradient(to right, rgb(203 213 225 / 0.3) 1px, transparent 1px),
      linear-gradient(to bottom, rgb(203 213 225 / 0.3) 1px, transparent 1px);
    background-size: 40px 40px;
  }
}
